          
          <div class="news">
            <h2>News</h2>
            {% if site.news != blank -%}
                <div class="table-responsive">
                    <table class="table table-sm table-borderless">
                        <!-- Display the 5 most recent news items -->
                        {%- assign recent_news = site.news | reverse | slice: 0, 5 -%}
                        {% for item in recent_news %}
                            <tr>
                                <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                                <td>
                                    {% if item.inline -%}
                                        {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                                    {%- else -%}
                                        <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                                    {%- endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
        
                <!-- Older news section inside a <details> element -->
                <details>
                    <summary>Older News</summary>
                    <div class="table-responsive mt-2">
                        <table class="table table-sm table-borderless">
                            {%- assign older_news = site.news | reverse | slice: 5, site.news.size - 5 -%}
                            {% for item in older_news %}
                                <tr>
                                    <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                                    <td>
                                        {% if item.inline -%}
                                            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                                        {%- else -%}
                                            <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                                        {%- endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </details>
            {%- else -%}
                <p>No news so far...</p>
            {% endif %}
        </div>
        
